@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Message</h2>
<br />
<h3>Sullivan Young</h3>
<h4>Currently a Technical Intern for Tahzoo while pursuing a Master of Science in Information Systems Degree at VCU
<br /><br />Richmond, Virginia, United States
<br /><br /><a href="https://www.linkedin.com/in/sullivan-young/" target="_blank">LinkedIn Profile</a>
<br /><br />Email:   <a href="mailto:sullivangyoung@gmail.com">sullivangyoung@gmail.com</a>
</h4>
<br/>
<h4>More Information:</h4>
<p>Recent graduate from the University of North Carolina Wilmington majoring in Business Administration with a double concentration in Business Analytics and Management Information Systems.
    Experience with Microsoft Office Suite, Systems Analysis, Systems Design, C#, HTML, CSS, SQL, R, GitHub, Azure DevOps, and Agile development.
    Currently a Technical Intern at Tahzoo while pursuing a Master of Science in Information Systems at Virginia Commonwealth University. </p>
<br />
<h4>Experience:</h4>

<div class="row">
    <div class="col-md-8">
        <section>
            <ul style="list-style-type:none">
                <li class="li-border-creation">
                    <img src="~/Content/Images/tahzoo.png" alt="tahzoo logo" style="float:left; padding-right:25px" />
                    <h5><b>Technical Intern</b></h5>
                    <h6>Tahzoo</h6>
                    <h6>Oct 2020 - Present</h6>
                    <h6>Richmond, Virginia, United States</h6>
                </li>
                <li class="li-border-creation">
                    <img src="~/Content/Images/tig.png" alt="tig logo" style="float:left; padding-right:25px" />
                    <h5><b>Information Technology Technician</b></h5>
                    <h6>Technology Integration Group</h6>
                    <h6>Aug 2020 - Oct 2020</h6>
                    <h6>Richmond, Virginia, United States</h6>
                    <p>
                        <br />- Diagnosing and repairing computers to restore them to working conditions for various clients
                        <br />- Quality Assurance assistance on repairs so they were of the highest standard before returning
                        <br />- Imaging and enrolling various desktops, laptops, tablets, and more in order to ensure they were matched correctly with the client's system
                        <br />- Extensive training on computer hardware and software to be up to date with the industry standards
                    </p>
                </li>
                <li class="li-border-creation">
                    <img src="~/Content/Images/uncw.png" alt="uncw logo" style="float:left; padding-right:25px" />
                    <h5><b>Resident Assistant</b></h5>
                    <h6>UNCW Housing and Residence Life</h6>
                    <h6>Jul 2017 - May 2020</h6>
                    <h6>Wilmington, North Carolina, United States</h6>
                    <p>
                        <br />- Provide paraprofessional advising to undergraduate college students in a residential area including international, transfer, sororities, upperclassmen, athletes, and freshmen
                        <br />- Develop and conduct programs on diversity, drug abuse, personal development, relationships, and academic performance
                        <br />- Manage administrative tasks including incident reports, maintenance requests, room change processes, and room condition reports
                        <br />- Enforce college policy within the residential community
                    </p>
                </li>
            </ul>
        </section>
        </div>
</div>