@{
    ViewBag.Title = "About";
}
<h3>@ViewBag.Message</h3>
<br />
<h3>Name: Sullivan Young</h3>
<h4>Current Title: Technical Intern for Tahzoo while pursuing a Master of Science in Information Systems at VCU</h4>
<h4>Location: Richmond, Virginia</h4>
<h5>LinkedIn: <a href="https://www.linkedin.com/in/sullivan-young/" target="_blank">Profile</a></h5>

<strong>Email Me:</strong>   <a href="mailto:sullivangyoung@gmail.com">sullivangyoung@gmail.com</a>
<br/>
