@{
    ViewBag.Title = "About";
}

<h3>About Me:</h3>

<div class="row">
    <div class="col-mid-8">
        <section style="padding-bottom:85px">
            <ul style="list-style-type:none">
                <li style="padding-bottom:2px">
                    <img src="~/Content/Images/profilepic.jpg" alt="tahzoo logo" style="float:left; padding-right:15px;" />
                    <h3>Sullivan Young</h3>
                </li>
                <li>
                    <h4>Currently a Technical Intern for Tahzoo while pursuing a Master of Science in Information Systems Degree at VCU</h4>
                </li>
            </ul>
        </section>
        <section>
            <ul style="list-style-type:none;">             
                <li style="padding-bottom:1px">
                    <h4>Location: Richmond, Virginia, United States</h4>
                </li>
                <li style="padding-bottom:1px">
                    <h4>Contact:<a href="https://www.linkedin.com/in/sullivan-young/" target="_blank">LinkedIn Profile</a> 
                    Email:<a href="mailto:sullivangyoung@gmail.com">sullivangyoung@gmail.com</a></h4>
                </li>
                <li>
                    <h4>More Information:</h4>
                    <p>
                        Recent graduate from the University of North Carolina Wilmington majoring in Business Administration with a double concentration in Business Analytics and Management Information Systems.
                        Experience with Microsoft Office Suite, Systems Analysis, Systems Design, C#, HTML, CSS, SQL, R, GitHub, Azure DevOps, and Agile development.
                        Currently a Technical Intern at Tahzoo while pursuing a Master of Science in Information Systems at Virginia Commonwealth University.
                    </p>
                </li>
            </ul>
        </section>
    </div>
</div>

<br />

<h3>Experience:</h3>

<div class="row" >
    <div class="col-md-8">
        <section>
            <ul style="list-style-type:none">
                <li class="li-border-creation">
                    <img src="~/Content/Images/tahzoo.png" alt="tahzoo logo" style="float:left; padding-right:25px;" />
                    <h5><b>Technical Intern</b></h5>
                    <h6>Tahzoo</h6>
                    <h6>Oct 2020 - Present</h6>
                    <h6>Richmond, Virginia, United States</h6>
                </li>
                <li class="li-border-creation">
                    <img src="~/Content/Images/tig.png" alt="tig logo" style="float:left; padding-right:25px" />
                    <h5><b>Information Technology Technician</b></h5>
                    <h6>Technology Integration Group</h6>
                    <h6>Aug 2020 - Oct 2020</h6>
                    <h6>Richmond, Virginia, United States</h6>
                    <p style="padding-left: 125px">
                        <br />- Diagnosing and repairing computers to restore them to working conditions for various clients
                        <br />- Quality Assurance assistance on repairs so they were of the highest standard before returning
                        <br />- Imaging and enrolling various desktops, laptops, tablets, and more in order to ensure they were matched correctly with the client's system
                        <br />- Extensive training on computer hardware and software to be up to date with the industry standards
                    </p>
                </li>
                <li>
                    <img src="~/Content/Images/uncw.png" alt="uncw logo" style="float:left; padding-right:25px" />
                    <h5><b>Resident Assistant</b></h5>
                    <h6>UNCW Housing and Residence Life</h6>
                    <h6>Jul 2017 - May 2020</h6>
                    <h6>Wilmington, North Carolina, United States</h6>
                    <p style="padding-left: 125px">
                        <br />- Provide paraprofessional advising to undergraduate college students in a residential area including international, transfer, sororities, upperclassmen, athletes, and freshmen
                        <br />- Develop and conduct programs on diversity, drug abuse, personal development, relationships, and academic performance
                        <br />- Manage administrative tasks including incident reports, maintenance requests, room change processes, and room condition reports
                        <br />- Enforce college policy within the residential community
                    </p>
                </li>
                <li class="li-border-creation">
                    <h5 style="padding-left: 125px"><b>Vice President of Administration and Finance</b></h5>
                    <h6 style="padding-left: 125px">UNCW Housing and Residence Life</h6>
                    <h6 style="padding-left: 125px">Oct 2017 - May 2018</h6>
                    <h6 style="padding-left: 125px">Wilmington, North Carolina, United States</h6>
                    <p style="padding-left: 125px">
                        <br />- Manage a $52,000 budget with other executive board members in the Residence Hall Association to assure proper allocation of funds to programming, public relations items, community service projects, and conferences
                        <br />- Developed an excel program for residents to check into university events and track who is going to specific events on campus
                        <br />- Tasked with taking minutes at every meeting and distributing the minutes to on-campus leaders as well as taking attendance at every event
                        <br />- In charge of running a large scale on-campus auction as well as purchasing every item for the event at the end of the academic year
                    </p>
                </li>
                <li class="li-border-creation">
                    <img src="~/Content/Images/carroll.png" alt="carroll logo" style="float:left; padding-right:25px" />
                    <h5><b>Property Management Intern</b></h5>
                    <h6>Carroll Management Group</h6>
                    <h6>May 2019 - Aug 2019</h6>
                    <h6>Wilmington, North Carolina, United States</h6>
                    <p style="padding-left: 125px">
                        <br />- Develop closing skills securing lease agreements at different properties throughout Wilmington as well as build strong relationships with residents and prospective residents
                        <br />- Provide support for a wide range of operations and projects as well as gain valuable industry insight including shadowing Assistant Property and Property Managers to learn the legal, financial, and operating aspects of the business
                        <br />- Shadow and assist maintenance teams to learn the "behind the scenes" of property management to ensure residents have a positive living experience
                        <br />- Market research including occupancy rates, surveys, and shopping clients in order to help design marketing strategies for each property based on their needs
                    </p>
                </li>
                <li>
                    <img src="~/Content/Images/nhrmc.png" alt="carroll logo" style="float:left; padding-right:25px" />
                    <h5><b>Clinical Outcomes Intern</b></h5>
                    <h6>New Hanover Regional Medical Center</h6>
                    <h6>May 2018 - Aug 2018</h6>
                    <h6>Wilmington, North Carolina, United States</h6>
                    <p style="padding-left: 125px">
                        <br />- Organize and consolidate materials for the quality surveys that give accreditation to the hospital (i.e. Leapfrog)
                        <br />- Analyze patient data to identify key trends in hospital quality initiatives and develop ways to improve quality metrics
                        <br />- Organize patient satisfaction reports and reporting data in Excel to be sent to hospital employees
                        <br />- Practice Lean Methodologies to improve processes throughout the Hospital
                        <br />- Develop Powerpoint Presentations to be used at weekly mortality meetings
                    </p>
                </li>
            </ul>
        </section>
        </div>
</div>