@{
    ViewBag.Title = "About";
}
<h3>@ViewBag.Message</h3>
<br />
<h3>Name: Sullivan Young</h3>
<h4>Title: Technical Intern for Tahzoo while pursuing a Master of Science in Information Systems Degree at VCU
<br />Location: Richmond, Virginia, United States
<br />LinkedIn: <a href="https://www.linkedin.com/in/sullivan-young/" target="_blank">Sullivan Young Profile</a>
<br />Email:   <a href="mailto:sullivangyoung@gmail.com">sullivangyoung@gmail.com</a>
    <br />Phone: (***) ***-**** 
</h4>
<br/>
