@{
    ViewBag.Title = "Fun Facts:";
}
<h2>@ViewBag.Title</h2>

<br />

<div class="row">
    <div class="col-md-8">
        <section>
            <ul style="list-style-type:none">
                <li class="li-border-creation">
                    <img src="~/Content/Images/goochland.jpg" alt="goochland" style="float:left; padding-right:25px"/>
                    <h4>Born in Richmond, Virginia and grew up in Goochland County, VA. <br /> Graduated from Goochland High School back in 2016!</h4>
                </li>
                <li class="li-border-creation">
                    <img src="~/Content/Images/soccer.jpg" alt="soccer" style="float:left; padding-right:25px" />
                    <h4>Played soccer somewhat religiously from the age of 4 to 18 and almost played in college, but ultimately decided against it.</h4>
                </li>
                <li class="li-border-creation">
                    <img src="~/Content/Images/family.jpg" alt="family" style="float:left; padding-right:25px" />
                    <h4>I have 6 siblings and .</h4>
                </li>
                <li class="li-border-creation">
                    <img src="~/Content/Images/uncw.jpg" alt="uncw" style="float:left; padding-right:25px" />
                    <h4>
                        Attended the University of North Carolina Wilmington where I initially went in as a Finance and Management double major.<br />
                        Later went to change that into a double major in Information Systems and Business Analytics!
                    </h4>
                </li>
                <li class="li-border-creation">
                    <img src="~/Content/Images/ra.jpg" alt="resident assistant, ra" style="float:left; padding-right:25px" />
                    <h4>Was a resident assistant for 3 years while at UNCW which proved to be one of the most difficult yet rewarding experiences of my young adult life!</h4>
                </li>
                <li class="li-border-creation">
                    <img src="~/Content/Images/vcu.jpg" alt="vcu" style="float:left; padding-right:25px" />
                    <h4>Unfortunately, I lost my post-grad job to COVID and decided to attend Graduate School at VCU and was gratefully accepted into Tahzoo's Internship program!</h4>
                </li>
                <li class="li-border-creation">
                    <img src="~/Content/Images/spiderman.jpg" alt="spiderman" style="float:left; padding-right:25px" />
                    <h4>Also... I love Spiderman</h4>
                </li>

            </ul>
        </section>
    </div>
</div>