@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Sullivan Young Project Portfolio Site</h1>
    <p class="lead">This will be a website dedicated to different projects that I have created throughout my early career</p>
    <p><a href="https://github.com/sullivanyoung" target="_blank" class="btn btn-primary btn-lg">More &raquo;</a></p>
</div>

<br />

<h3>Projects:</h3>

<div class="row">
    <div class="col-md-8">
        <section>
            <ul style="list-style-type:none">
                <li class="li-border-creation">
                    <img src="~/Content/Images/tahzoo.png" alt="Rubiks Cube" style="float:left; padding-right:25px" /> <!--Grab picture for project logo?-->
                    <h5><b>Rubiks Cube Solver Application</b></h5>
                    <h6>Tahzoo</h6>
                    <h6>Oct 2020 - Present</h6>
                    <h6>Richmond, Virginia, United States</h6>
                    <a href="https://github.com/sullivanyoung/RubiksCubeSolver" target="_blank" class="btn btn-default">Github Link &raquo;</a>
                </li>
                <li class="li-border-creation">
                    <img src="~/Content/Images/tig.png" alt="Blackjack App" style="float:left; padding-right:25px" /> <!--Grab picture for project logo?-->
                    <h5><b>Blackjack Application</b></h5>
                    <h6>Technology Integration Group</h6>
                    <h6>Aug 2020 - Oct 2020</h6>
                    <h6>Richmond, Virginia, United States</h6>
                    <p>
                        <br />- 
                    </p>
                    <a href="https://github.com/sullivanyoung/BlackjackApp" target="_blank" class="btn btn-default">Github Link &raquo;</a>
                </li>
                <li>
                    <img src="~/Content/Images/uncw.png" alt="Banking App" style="float:left; padding-right:25px" /> <!--Grab picture for project logo?-->
                    <h5><b>Banking Application</b></h5>
                    <h6>UNCW Housing and Residence Life</h6>
                    <h6>Jul 2017 - May 2020</h6>
                    <h6>Wilmington, North Carolina, United States</h6>
                    <p>
                        <br />- 
                    </p>
                    <a href="https://github.com/sullivanyoung/BankingApp" target="_blank" class="btn btn-default">Github Link &raquo;</a>
                </li>
                <li class="li-border-creation">
                    <img src="~/Content/Images/uncw.png" alt="Rocket League Website" style="float:left; padding-right:25px" /> <!--Grab picture for project logo?-->
                    <h5><b>Rocket League Website</b></h5>
                    <h6>UNCW Housing and Residence Life</h6>
                    <h6>Oct 2017 - May 2018</h6>
                    <h6>Wilmington, North Carolina, United States</h6>
                    <p>
                        <br />- 
                    </p>
                    <a href="https://github.com/sullivanyoung/RocketLeagueWebsite" target="_blank" class="btn btn-default">Github Link &raquo;</a>
                </li>
                <li class="li-border-creation">
                    <img src="~/Content/Images/carroll.png" alt="Hangman Console App" style="float:left; padding-right:25px" />
                    <h5><b>Hangman Console Application</b></h5>
                    <h6>Carroll Management Group</h6>
                    <h6>May 2019 - Aug 2019</h6>
                    <h6>Wilmington, North Carolina, United States</h6>
                    <p>
                        <br />- 
                    </p>
                    <a href="https://github.com/sullivanyoung/HangmanApp" target="_blank" class="btn btn-default">Github Link &raquo;</a>
                </li>
                <li>
                    <img src="~/Content/Images/nhrmc.png" alt="Weather Site" style="float:left; padding-right:25px" />
                    <h5><b>Weather Site</b></h5>
                    <h6>New Hanover Regional Medical Center</h6>
                    <h6>May 2018 - Aug 2018</h6>
                    <h6>Wilmington, North Carolina, United States</h6>
                    <p>
                        <br />- 
                    </p>
                    <a href="https://github.com/sullivanyoung/WeatherApp" target="_blank" class="btn btn-default">Github Link &raquo;</a>
                </li>
            </ul>
        </section>
    </div>
</div>



