@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Sullivan Young Project Portfolio Site</h1>
    <p class="lead">This will be a website dedicated to different projects that I have created throughout my early career</p>
    <p><a href="https://github.com/sullivanyoung" target="_blank" class="btn btn-primary btn-lg">More &raquo;</a></p>
</div>

<br />

<h3>Projects:</h3>

<div class="row">
    <div class="col-md-8">
        <section>
            <ul style="list-style-type:none">
                <li class="li-border-creation">
                    <img src="~/Content/Images/rubikscube.jpg" alt="Rubiks Cube" style="float:left; padding-right:25px" /> <!--Grab picture for project logo?-->
                    <h5><b>Rubiks Cube Solver Application</b></h5>
                    <h6>Created a very basic windows form application that helps users learn to solve a Rubik's Cube</h6>
                    <h6>Status: In progress</h6>
                    <h6>Language: C#</h6>
                    <a href="https://github.com/sullivanyoung/RubiksCubeSolver" target="_blank" class="btn btn-default">Github Link &raquo;</a>
                </li>
                <li class="li-border-creation">
                    <img src="~/Content/Images/blackjack.png" alt="Blackjack App" style="float:left; padding-right:25px" /> <!--Grab picture for project logo?-->
                    <h5><b>Blackjack Application</b></h5>
                    <h6>Created a fun interactive windows form blackjack application from scratch with betting functionality</h6>
                    <h6>Status: Finished</h6>
                    <h6>Language: C#</h6>
                    <a href="https://github.com/sullivanyoung/BlackjackApp" target="_blank" class="btn btn-default">Github Link &raquo;</a>
                </li>
                <li class="li-border-creation">
                    <img src="~/Content/Images/bank.jpg" alt="Banking App" style="float:left; padding-right:25px" /> <!--Grab picture for project logo?-->
                    <h5><b>Banking Application</b></h5>
                    <h6>Created an interactive windows form banking application with stock functionality</h6>
                    <h6>Status: Finished</h6>
                    <h6>Language: C#</h6>
                    <a href="https://github.com/sullivanyoung/BankingApp" target="_blank" class="btn btn-default">Github Link &raquo;</a>
                    </li>
                <li class="li-border-creation">
                    <img src="~/Content/Images/rocketleague.png" alt="Rocket League Website" style="float:left; padding-right:25px" /> <!--Grab picture for project logo?-->
                    <h5><b>Rocket League Website</b></h5>
                    <h6>Tried creating a version of a Rocket League website to help me learn MVC</h6>
                    <h6>Status: In progress</h6>
                    <h6>Language: C#, Javascript, HTML </h6>
                    <h6>Framework: ASP.NET MVC 5</h6>
                    <a href="https://github.com/sullivanyoung/RocketLeagueWebsite" target="_blank" class="btn btn-default">Github Link &raquo;</a>
                </li>
                <li class="li-border-creation">
                    <img src="~/Content/Images/hangman.jpg" alt="Hangman Console App" style="float:left; padding-right:25px" />
                    <h5><b>Hangman Console Application</b></h5>
                    <h6>Followed a tutorial to build a Hangman console application to learn more C#</h6>
                    <h6>Status: Finished</h6>
                    <h6>Language: C#</h6>
                    <a href="https://github.com/sullivanyoung/HangmanApp" target="_blank" class="btn btn-default">Github Link &raquo;</a>
                </li>
                <li>
                    <img src="~/Content/Images/weather.jpg" alt="Weather Site" style="float:left; padding-right:25px" />
                    <h5><b>Weather Site</b></h5>
                    <h6>Very basic weather website to help me start the MVC tutorials and learn how to upload to Github</h6>
                    <h6>Status: Finished</h6>
                    <h6>Language: C#, Javascript, HTML </h6>
                    <h6>Framework: ASP.NET MVC 5</h6>
                    <a href="https://github.com/sullivanyoung/WeatherApp" target="_blank" class="btn btn-default">Github Link &raquo;</a>
                </li>
            </ul>
        </section>
    </div>
</div>



